div.divEdit {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-cancel, .btn-cancel:visited {
    color: white;
    background-color: red;
    border-radius: 10%;
    text-decoration: none;
}