.top-bar {
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    border-bottom: black 5px solid;
    border-radius: 16px;
    margin-bottom: 20px;
}

.top-bar ul {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    list-style: none;
}

.top-bar li {
    margin: 0 1em;
}

.noticia {
    width: 100%;
    text-align: center;
}

.noticia img {
    width: 70%;
    height: 80vh;
}

.noticia p {
    width: 80%;
    justify-self: center;
}

.welcomeMessage {
    display: inline;
    margin: auto 20px;
}


footer {
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
}

.link:visited,
.link {
    color: black;
    text-decoration: none;

}

.link:hover {
    background-color: rgb(0, 0, 0);
    color: white;
    border-radius: 25%;
    border: 4px black solid;
}