
.top-bar {
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    border-bottom: black 5px solid;
    border-radius: 16px;
    margin-bottom: 20px;
}

.top-bar ul {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    list-style: none;
}

.top-bar li {
    margin: 0 1em;
}

.noticia  {
    width: 100%;
    text-align: center;
}

.noticia img  {
    width: 70%;
    height: 80vh;
}

.noticia p {
    width: 80%;
    justify-self: center;
}

.welcomeMessage {
    display: inline;
    margin: auto 20px;
}